/* Variabili */
:root {
    --main-color: #f8f9fa;
    --second-color: #e5e5e5;
    --third-color: #1b72e8;
}

/* Classi Colore BG */
.my-m-bgcolor {
    background-color: var(--main-color) !important;
}

.my-s-bgcolor {
    background-color: var(--second-color) !important;
}

.my-t-bgcolor {
    background-color: var(--third-color) !important;
}

.my-a-bgcolor {
    background-color: #165bba;
}

/* Regole Generali */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.fs_a {
    font-size: 10px;
} 

/* Header */
header {
    height: 70px;
    background-color: var(--main-color);
}

header .row {
    height: 70px;
}

input[type="search"]:focus {
    background-color: var(--second-color) !important;
    border-color: var(--second-color);
    outline: 0 !important;
    box-shadow: none !important;
}

/* Aside */
aside {
    height: calc(100vh - 70px);
    background-image: url('../img/sidebar-bg.png');
    background-color: #051e34;
    background-size: cover;
}

.my-hover:hover {
    background-color: var(--main-color) !important;
    color: var(--third-color) !important;
}

.my-hover:hover i {
    color: var(--third-color) !important;
}

/* Section */
section {
    height: calc(100vh - 70px);
}

.my_size {
    width: 25px;
    height: 25px;
}

.my_panel {
    width: 50% !important;
}

/* Media Query */
@media screen and (min-width: 991px) and (max-width: 1412px) {
    
    aside .row span{
        margin-left: 0 !important;
    }

}

@media screen and (max-width: 769px) {

    .my_panel {
        width: 100% !important;
    }
    
}

@media screen and (max-width: 426px) {

    section .row {
        gap: 15px;
    }
    
}



